<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <div class="mt-1 justify-content-center text-center hamBurger">
        <i (click)="sendActive()" class="menu-icon mdi mdi-hamburger mdi-36px"></i>
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-right">
      <li>
        <div class="bell-container">
          <i class="menu-icon mdi mdi-bell mdi-36px"></i>
          <div class="notification-badge">1</div>
        </div>
      </li>
      <li class="user-profile">
        <div class="profile-image">
          <img src="assets/mark.jpeg" alt="logo" />
        </div>
      </li>
      <li>
        <div>
          <button class=" search-btn" type="button"> <i  class=" menu-icon mdi mdi-podcast mdi-24px"></i>Noida</button>
        </div>
      </li>
    </ul>

    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleOffcanvas()"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
